<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31807899395-iaef3j15osafc6n8rv917d7782vm915k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31807899395-iaef3j15osafc6n8rv917d7782vm915k</string>
	<key>API_KEY</key>
	<string>AIzaSyBb7MxvQbSVnAm-bAtfCMOr3bdAHrFed8w</string>
	<key>GCM_SENDER_ID</key>
	<string>31807899395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maginate.chatpulseai</string>
	<key>PROJECT_ID</key>
	<string>chat-ai-pu</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ai-pu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31807899395:ios:f947b9c8ac44de3c0d0b36</string>
</dict>
</plist>